@using Syncfusion.EJ2;
@{
    ViewBag.Title = "MVC show case template";
}

<style>
    #btnNotification, #btnSettings, #btnAbout {
        min-width: 52px;
    }
</style>

<div class='outlook-container'>
    @Html.EJS().AppBar("appbar").ColorMode(Syncfusion.EJ2.Navigations.AppBarColor.Dark).ContentTemplate(@<div style="font-size: 0; white-space: nowrap; line-height: normal">
            <div style="display: table-cell">
                <div class='home-btn'>
                    <span class='ej-icon-Bento' style='font-size: 18px;'></span>
                </div>
                <div style='margin-left: 15px;display: inline-block'>
                    <span class='home-btn-text'>Webmail</span>
                </div>
            </div>
            <div style="display: table-cell; width: 100%; text-align: center">
            </div>
            <div id="notification-div" class="header-right-pane">
                <div style="pointer-events: none;">
                    @Html.EJS().Button("btnNotification").Render();
                </div>
            </div>
            <div id="settings-div" class="header-right-pane">
                <div style="pointer-events: none;">
                    @Html.EJS().Button("btnSettings").Render();
                </div>
            </div>
            <div id="about-div" class="header-right-pane">
                <div style="pointer-events: none;">
                    @Html.EJS().Button("btnAbout").Render();
                </div>
            </div>
            <div id="profile-div" class="header-right-pane">
                <div style="pointer-events: none;">
                    @Html.EJS().Button("btnLoginName").CssClass("btn-profile").Render()
                </div>
                <div style="pointer-events: none;margin-right: 5px;">
                    <span class="e-avatar e-avatar-large e-avatar-circle" style="background-image: url('../../content/images/1.png');height: 40px; width: 40px;"></span>
                </div>
            </div>
        </div>).Render()
    <div id="content-area" style="height: 100%">
    </div>
</div>
